.content {
  width: 960px;
  margin: 0 auto;
}

.clear-fix {
  content: '';
  display: block;
  clear: both;
}

.fix {
  float: left
}

.left {
  width: 20%;
  height: 500px;
}

.right {
  width: 80%;
  height: 500px;
}