.Item {
	border: 0.5px #ccc solid;
	line-height: 50px;
	font-size: 15px;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

.fix {
	float: right;
}

.Item input {
	vertical-align: middle;
	margin-left: 5px;
}

.Item span {
	vertical-align: middle;
	margin-left: 10px;
}

.delete {
	height: 50px;
	line-height: 50px;
	font-size: 0;
}

.delete button {
	vertical-align: middle;
	font-size: 10px;
	display: none;
}